.copy-right_text {
  padding-bottom: 30px;
  background: #001d38;
  .footer_border {
    padding-bottom: 30px;
    border-top: 1px solid #334a60;
  }
  .copy_right {
    font-size: 13px;
    color: #c7c7c7;
    margin-bottom: 0;
    font-weight: 400;
    a {
      text-decoration: none;
      color: #5db2ff;
    }
  }
}
