/**
*** header styles
*/

header {
  display: block;
  .header-area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    z-index: 99;
    position: absolute;
    .main-header-area {
      padding: 20px 200px;
      background: transparent;
    }
  }
}

@media (max-width: 767px) {
  header {
    .header-area {
      padding-top: 0;
      .main-header-area {
        padding: 10px 0px;
        background: #2c2c2c;
      }
    }
  }
}
