.portfolio_image_area {
  padding-bottom: 75px;
  position: relative;
  margin-top: -295px;
  .single_Portfolio {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    .portfolio_thumb {
      height: 410px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .portfolio_hover {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgba(97, 92, 253, 0.6);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      opacity: 0;
      overflow: hidden;
      .title {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        h3 {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
  .single_Portfolio:hover {
    .portfolio_hover {
      -webkit-transform: translateX(0%);
      -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .more_portfolio {
    margin-top: 60px;
    a {
        text-decoration: none;
    }
  }
}
