.service_area {
  padding-top: 120px;
  padding-bottom: 120px;
  .container {
    .section_title {
      span {
        position: relative;
        z-index: 3;
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 3px;
        color: #001d38;
        text-transform: uppercase;
        margin-bottom: 14px;
        display: block;
        padding-top: 14px;
      }
      span:before {
        position: absolute;
        height: 60px;
        width: 1px;
        background: #615cfd;
        content: "";
        left: 50%;
        bottom: 100%;
      }
      h3 {
        font-size: 50px;
        line-height: 62px;
        font-weight: 700;
        color: #001d38;
        position: relative;
        z-index: 0;
        padding-bottom: 15px;
      }
    }
    .single_service {
      padding: 48px 35px 45px 35px;
      border: 1px solid #e8e8e8;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      margin-bottom: 30px;
      img {
        vertical-align: middle;
        border-style: none;
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        color: #2c2c2c;
        margin-top: 24px;
        padding-bottom: 12px;
      }
      p {
        color: #727272;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 0;
      }
    }
    .single_service:hover {
        border: 1px solid #615CFD;
    }
  }
}
